<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>
  <!-- parameters -->
  <xacro:arg name="tf_prefix" default=""/>
  <!-- Flag to use the Gripper or just the UR5  -->
  <xacro:arg name="use_gripper" default="true" />

  <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro"/>

  <xacro:if value="$(arg use_gripper)">
  <xacro:include filename="$(find ur_moveit_config)/srdf/robotiq_85_gripper.srdf.xacro"/>
  </xacro:if>  


  <xacro:ur_srdf name="$(arg name)" tf_prefix="$(arg tf_prefix)" use_gripper="$(arg use_gripper)"/>

  <xacro:if value="$(arg use_gripper)">
  <disable_collisions link1="$(arg tf_prefix)robotiq_85_base_link" link2="$(arg tf_prefix)tool0" reason="Adjacent" />
  <disable_collisions link1="$(arg tf_prefix)robotiq_85_base_link" link2="$(arg tf_prefix)wrist_3_link" reason="Never" />
  </xacro:if>

</robot>
